/**
 * Esta es la hoja de estilo del sitio general, se renderiza después
 * de la carga de bootstrap
 */

.menu {
	position: fixed;
	width: 100%;
	border-radius: 0;
}

.jumbotron {
	background: url("../img/pagina2.png");
	height: 460px;
}

.table-hover > tbody > tr:hover > td {
	background: #fff;
}

.titulo {
	color: #fff !important;
	text-shadow: 0 0 10px #000, 0 0 10px #000;
	position: relative;
	top: 180px;
	right: 8%;
}

.stats-content {
	width: 700px;
	margin: auto;
	margin-top: 15px;
	text-align: center;
}

.affix-bottom {
	position: fixed;
	bottom: 50px;
	width: 85%;
	margin: auto;
}